<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sda.syeddaniyalali.routealert">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/RouteAlert"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginUserActivity"></activity>
        <activity
            android:name=".RegisterUserActivity"
            android:label="@string/title_activity_main_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActivityUserFeedback" />
        <activity android:name=".ActivityUserEmergencyHelp" />
        <activity android:name=".ActivityUserViewComplain" />
        <activity android:name=".ActivityUserSubmitComplains" />
        <activity android:name=".ActivityAdminViewNotification" />
        <activity android:name=".ViewUserNotificationActivity" />
        <activity android:name=".ActivityMainAdmin" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ActivitySplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <service
            android:name=".MyMessageReceived" android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>